.blog-home {
	display: flex;
	justify-content: center;
	width: 100%;
	max-width: 1300px;
	margin: 0 auto;
}

.left-items {
	width: 30%;
}

tristan-blog-header {
	position: absolute;
	width: 100%;
}

.right-items {
	margin: 120px 0 0 30%;
	width: 70%;
}

.year {
	display: flex;
	flex-direction: column;
	font-size: 70px;
	padding: 1em;

	span {
		height: 70px;
	}

	.century {
		color: rgba(#123597, 0.4);
	}

	.decade {
		color: rgba(255,255,255,0.7);
		text-shadow: 1px 1px 2px rgba(0,0,0,0.5);
		margin: -15px 0 0 10px;
	}
}

#parallax-container {
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-perspective-origin: 100vw 50%;
  -moz-perspective-origin: 100vw 50%;
  -ms-perspective-origin: 100vw 50%;
  perspective-origin: 100vw 50%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.parallax {
  position: absolute;
  width: 30%;
  height: 50vh;
  //top: 230px;
  //left: 0;
  top: 100px;
  left: -40px;
  //transform: translateZ(-2px) scale(3);
  // -webkit-transform-origin-y: 400% 100% 0px;
  // -moz-transform-origin: 400% 100% 0px;
  // -ms-transform-origin: 400% 100% 0px;
  // transform-origin: 400% 100% 0px;
}

@media screen and (min-width: 1280px) {
	.parallax {
		left: 0;
	}
}