.tristy-gets-maried {
	width: 100vw;
	min-height: 100vh;
	position: relative;

	background-color: #fcfcfc;
	font-family: 'proxima-nova', 'Helvetica', Arial, sans-serif;
	font-size: 14px;
}

.details {
	font-family: 'Cormorant Garamond',serif;
  font-weight: 400;
  font-size: 14px!important;
  line-height: normal;
  letter-spacing: .5px;
  color: #444;
  position: absolute;
}

.date-location {
	top: 1em;
	left: 1em;

	h5 {
		margin-right: 1.5em;
	}

	.location {
		display: none;
	}
}

.hashtag {
  top: 1em;
  right: 1em;
}

h1 {
	font-family: 'Imperial Script';
	font-size: 3rem;
	margin-bottom: 1em;
}

a {
	display: flex;
	width: 90%;
	max-width: 300px;
	height: 60px;
	margin: 0.8em 0;
}

@media (min-width: 375px) {
	.date-location {
		.location {
			display: block;
		}
	}
}