<div class="home-wrap flex flex-column flex-center">
	<div class="wave"></div>
	<h1 class="title">{{ typedDisplay[0] }}</h1>

	<p>{{ typedDisplay[1] }} <span>{{ retypeDisplay }}</span></p>

	<div class="other-links">
		<a class="svg-link" href="https://arthas.dev" aria-label="Arthas Development"><img src="assets/img/arthas2-darkpurple.svg"></a>
		<a class="svg-link" href="https://amptify.com" aria-label="Amptify"><img src="assets/img/logo-red.svg"></a>
		<a class="svg-link" href="https://github.com/tljesse" aria-label="Github"><img src="assets/img/github-icon-1.svg"></a>
		<a class="svg-link" href="https://linkedin.com/in/tristan-jesse" aria-label="LinkedIn"><img src="assets/img/linkedin-text.svg"></a>
		<a class="svg-link" href="https://twitch.tv/tparty42" aria-label="Twitch"><img src="assets/img/twitch-darkpurple.svg"></a>
	</div>

	<div class="menu">
		<div class="hover-box right hover-right" routerLink="/blog">
	    <a class="bottom-menu"><span *ngFor="let item of splitMenu; let i = index" class="char{{ i+1 }}">{{ item }}</span></a>
	  </div>
	</div>
</div>