<div class="blog-wrap">
	<div class="jumbotron-wrap">
		<div class="header d-flex flex-column flex-j-center flex-a-center" [class.small]="pageData?.title?.length > 45">
			<h1>{{ pageData?.title || 'Tristan\'s Blog' }}</h1>
			<h2>{{ pageData?.description || 'Keep up with latest trends, get some new ideas, expand your knowledge of the web!' }}</h2>
		</div>

		<div class="blog-bg-img">
			<img [src]="pageData?.image">
		</div>
		<!-- <div class="clipped-bottom"></div> -->
	</div>

	<div class="article-wrap">
		<div class="scully-content-wrap">
			<!-- This is where Scully will inject the static HTML -->
			<scully-content></scully-content>
		</div>
	</div>
</div>