<!-- <mat-card class="blog-snippet {{ snippetType }}">  
	<div class="photo"  [ngStyle]="{'background-image': 'url('+ article.image + ')'}" [routerLink]="article.route">
  </div>
  <div class="article" >
    <div class="up">
      <h3><a [routerLink]="article.route">{{ article.title }}</a></h3>
      <p class="blurb">{{ article.blurb }}</p> 
    </div> 
    <div class="down" [class.no-circle]="!article.authorImage">
      <img [src]="article.authorImage || '../../../../assets/img/arthas-logo-100x100.png'"/> 
      <p class="author">{{article.author}}</p>
      <p class="date">{{article.datePublished}}</p>
    </div>
  </div>   
</mat-card> -->

<div class="blog-snippet">
	<h2 [routerLink]="['/blog/' + article.slug]"><span class="text">{{ article.title }}</span><span class="underline"></span></h2>
	<p class="blurb">{{ article.blurb }}</p>
	<p class="date">{{ article.datePublished | date: 'mediumDate' }}</p>
</div>