/* You can add global styles to this file, and also import other style files */

@import 'src/scss/_layout';

html, body { height: 100%; }
body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	//background-color: 
	background-image: linear-gradient( 135deg, #97ABFF 10%, #123597 100%);
}

.body-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
	position: relative;
}

.blog {
	.body-wrap {
		//overflow: auto;
	}
}
