<div class="tristy-gets-maried covid-wrap flex flex-column flex-center">
	<div class="content-wrap">
		<h1>Mari, Tristan and COVID-19</h1>

		<p>While we hope to avoid inconveniences, the reality of the ongoing pandemic means we must take precautions for such a gathering. We are requiring all of our guests to be vaccinated for our own piece of mind as well as regulations put in place by the Portuguese government. Below we ask you to add your full name and upload proof of COVID vaccination.</p>

		<form>
			
		</form>
	</div>
</div>
