.tristy-gets-maried {
	width: 100vw;
	min-height: 100vh;
	position: relative;

	background-color: #fcfcfc;
	font-family: 'proxima-nova', 'Helvetica', Arial, sans-serif;
	font-size: 14px;
}

.content-wrap {
	margin: 1em;
}

h1 {
	font-family: 'Imperial Script';
	font-size: 2rem;
}